﻿@model IEnumerable<City>
<table class="table table-condensed table-bordered">
        <tr>
            <td>Biggest City:</td>
            <td>@Model.OrderByDescending(c => c.Population).First().Name</td>
        </tr>
</table>
<a class="btn btn-sm btn-info" asp-controller="City" asp-action="Create">Create City</a> 
