﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
    <div show-for-action="Index" class="panel-body bg-danger">
        <h2>Important Message!</h2>
    </div>
    <div title="Cities">
        @RenderBody()
    </div>
</body>
</html>
