﻿@{Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Razor</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <!--Отправка JSON-файлас данными клиенту-->
    <script id="jsonData" type="application/json">
        @Json.Serialize(new string[] { "Apple","Orange","Pear"})
    </script>
    <script asp-src-include="lib/jquery/dist/*.min.js"></script>
    <!--Получение отправленного сервером JSON-файла, парсинг и вывод данных-->
    <script type="text/javascript">
        $(document).ready(function () {
            var list = $("#list")
            JSON.parse($("#jsonData").text()).forEach(function (val) {
                console.log("Val:" + val);
                list.append($("<li>").text(val))
            })
        })
    </script>
</head>
<body class="panel-body">
    This is the List View
    <ul id="list"></ul>
    <!-- Добавление частичного представления и передача ему данных
        Html.Partial("MyPartial",new string[] {"Apple", "Orange", "Pear" }) -->
</body>
    </html>
