﻿@model IEnumerable<Product>
@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Products";
 }

    <table class="tabe table-condensed table-striped tabe-bordered"> 
        <thead><tr><th>Name</th><th>Price</th></tr></thead>
        <tbody> 
            @foreach (var product in Model )
             {
                <tr>
                    <td>@product.Name</td> 
                    <td>@product.Price</td>
                </tr>
             }
        </tbody> 
    </table> 
<a asp-action="Create" class="btn btn-primary">Create</a>
