﻿@model IList<AdressSummary>
@{
    Layout = "_Layout";
    ViewBag.Title = "Address";
}
<!--Когда форма отправляется, связыватель модели выясняет, что необходимо создать коллекцию объектов AddressSummary, 
    и использует префиксы индексов массива в атрибутах name, чтобы получить значения для свойств этих объектов. 
    Свойства с префиксом [О] применяются для первого объекта AddressSumary, свойства с префиксом [1] - 
    для второго объекта AddressSumary и т.д. -->
@if (Model.Count == 0)
{
    <form asp-action="Address" method="post">
        @for (int i = 0; i < 3; i++)
        {
            <fieldset class="form-group">
                <legend>Adress@(i + 1)</legend>
                <div class="form-group">
                    <label>City:</label>
                    <input name="[@i].City" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Country:</label>
                    <input name="[@i].Country" class="form-control" />
                </div>
            </fieldset>
        }
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

}
else
{
    <table class="table table-sm table-bordered table-striped">
        <tr><th>City</th><th>Country</th></tr>
        @foreach (var adress in Model)
        {
            <tr><td>@adress.City</td><td>@adress.Country</td></tr>
        }
    </table>
    <a asp-action="Address" class="btn btn-primary">Back</a>
}

