﻿@model Person
@{ 
    Layout = "_Layout";
    ViewBag.Title = "Create Person";
}

<form asp-action="DisplaySummary" method="post">
    <div class="form-group">
        <label asp-for="PersonId"></label>
        <input asp-for="PersonId" class="form-control" />
    </div>
     <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>
     <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
    </div>
     <div class="form-group">
        <label asp-for="Role"></label>
        <select asp-for="Role" class="form-control" asp-items="@new SelectList(Enum.GetNames(typeof(Role)))"></select>
    </div>
    <div class="form-group">
        <label asp-for="HomeAdress.City"></label>
        <input asp-for="HomeAdress.City" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="HomeAdress.Country"></label>
        <input asp-for="HomeAdress.Country" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>