﻿@model AdressSummary
@{ 
    Layout = "_Layout";
    ViewBag.Title = "DisplaySummary";
}
<div class="bg-primary m-1 p-1 text-white"><h2>Adress</h2></div>
<table class="table table-sm table-bordered table-striped">
    <tr><th>City:</th><td>@Model.City</td></tr>
    <tr><th>Country:</th><td>@Model.Country</td></tr>
</table>
