﻿@model string
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport " content="width=device-width"/>
    <title>Controllers and Actions</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
</head>
<body class="panel-body">
    Model Data: @Model
</body>
</html> 