﻿@model IEnumerable<Reservation>
@{ Layout = "_Layout";}

<form id="addform" asp-action="AddReservation" method="post">
    <div class="form-group">
        <label for="ClientName">Name:</label>
        <input class="form-control" name="ClientName" />
    </div>
    <div class="form-group">
        <label for="Location">Location:</label>
        <input class="form-control" name="Location" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-primary btn-sm">Add</button>
    </div>
</form>

<table class="table table-condensed table-striped table-bordered">
    <thead><tr><th>ID</th><th>Client</th><th>Location</th></tr></thead>
    <tbody>
        @foreach (var res in Model)
        {
            <tr>
                <th>@res.ReservationId.</th>
                <th>@res.ClientName</th>
                <th>@res.Location</th>
            </tr>
        }
    </tbody>
</table>