﻿@model City
@{
    Layout = "_Layout";
}

    <form method="post" asp-controller="Home" asp-action="Create" asp-antiforgery="true">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
        </div>
        <div class="form-group">
            <label asp-for="Country"></label>
            <select class="form-control" asp-for="Country" asp-items="@new SelectList(Enum.GetNames(typeof(CountryNames)))">
                <option disabled selected value="">Select a country</option>
            </select>
            
            <!--Вариант с фиксированным содержимым выпадающего списка
                <select class="form-control" asp-for="Country">
                <option disabled selected value="">Select a country</option>
                <option>UK</option>
                <option>USA</option>
                <option>France</option>
                <option>China</option>
            </select>-->

        </div>
        <div class="form-group">
            <label asp-for="Population"></label>
            <input class="form-control" asp-for="Population"/>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a class="btn btn-primary" href="/Home/Index">Cancel</a>
    </form>
