﻿@model IEnumerable<Product>
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dependency Injection</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body class="panel-body">
    @if (ViewData.Count > 0)
    {
        <table class="table table-bordered table-condensed table-striped">
            @foreach (var kvp in ViewData)
            {
                <tr><td>@kvp.Key</td><td>@kvp.Value</td></tr>
            }
        </table>
    }
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr><td>Name</td><td>Price</td></tr>
        </thead>
        @if (Model == null)
         {
            <tr><td colspan="3" class="text-center">No Model Data</td></tr>
         }

        @if (Model != null)
        {
            @foreach (var p in Model)
            {
                <tr>
                    <td>
                        @p.Name
                    </td>
                    <td>
                        @string.Format("{0:C2}", p.Price)
                    </td>
                </tr>
            }
        }
    </table>
</body>
</html>