﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="m-1 p-1">
    <environment names="development">
        <div class="m-1 p-1 bg-info"><h2>This is Development</h2></div>
    </environment>
    <environment names="production">
        <div class="m-1 p-1 bg-danger"><h2>This is Production</h2></div> 
    </environment>
    <div>
        <img src="~/images/city.png" asp-append-version="true" />
        @RenderBody()
    </div>
</body>
</html>
