﻿@model CityViewModel
<table class="table table-condensed table-bordered">
    <tr>
        <td>
            Cities:
        </td>
        <td class="text-right">
            @Model.Cities
        </td>
    </tr>
    <tr>
        <td>
            Population
        </td>
        <td class="text-right">
            @Model.Populaton
        </td>
    </tr>
</table>
